*{
    text-align:start;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image:url(premium_photo-1682308393579-5587e7e856f9.avif);
    background-size: cover;

}
h1{
    text-align: center;
}

